*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: "Roboto Condensed",sans-serif;
}

header{
  display: flex;
  justify-content: center;
  background-color: #2A7A96;
  height: 50px;
  color: white;
}

header ul{
  display: flex;
  align-items: center;
}

header ul li{
  list-style: none;
  text-decoration: none;
  margin: 20px;
  font-size: 20px;
}

